{%extends 'base.html'%}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/about.css' %}"> {% endblock %}
<!-- Add your css link here  -->

{% block title %}TheShoppingCArt{% endblock %}
<!-- Add your title here -->>

{% block main %}
    <div class="about">
        <div>
            <p>laurem kdfjfsd ffksdfs fsdfsdf sdfsdfkjsdfklsf sdfsd fsdfsdkfsd;f sdf sd</p>
        </div>
        <h2>Saurav kumar</h2>
    </div>


{% endblock %}

{% block js %}
<!-- Add your inline javascript here  -->
{% endblock%}