<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        
        <title>TheShoppingCArt</title>
        
</head>

<body>

    <!-- *************************NAVBAR SECTION*********************************** -->
    <header>
        <nav>
            <div class="nav-left">
                <ul class="nav-item-1">

                    <li><img id="logo" src="../static/logo.png" alt="" class="logo"></li>
                    <li>TheShoppingCArt</li>
                    <li>
                        <form action="">
                            <input type="text" name="search-box"
                                placeholder="What dou you want ? Search here..." id="search">
                                <button id="search-btn" type="submit"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="nav-right">
                <ul class="nav-item-2">
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i><button class="login-btn"><a
                                href="../templates/login.html">Login</a></button>
                            </li>
                    <li>
                        <i class="fa fa-caret-down" aria-hidden="true"></i><button class="login-btn"><a
                            href="../static/cart.png">More</a></button>
                    </li>
                    <li>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i><button class="login-btn"><a
                                href="../static/cart.png">Cart
                            </a><span>0</span></button>
                    </li>
                </ul>
            </div>
            
        </nav>
        
        <nav class="nav2">
            <ul>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">TV & Appliances</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Womens</a></li>
                <li><a href="#">Baby & Kids</a></li>
                <li><a href="#">Computers</a></li>
                <li><a href="#">Phones & Tablets</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </nav>
    </header>

    <!-- ***********************MAIN SECTION**************************** -->
    <main>
        
        <!-- ****************CAROUSEL********************* -->
        <div class="carousel">
            
            <div class="prev-btn">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            
            <div class="slides-container">
                
                <div class="slide-image">
                    <img src="../static/img_carousal_1.jpg" alt="">
                </div>
                <div class="slide-image">
                    <img src="../static/img_carousal_1.jpg" alt="">
                </div>
                <div class="slide-image">
                    <img src="../static/img_carousal_1.jpg" alt="">
                </div>

            </div>
            
            <div class="next-btn">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>

        <!-- ****************PRODUCTS**************** -->
        <div class="container">

            <h2>New Arrivals</h2>
            <div class="items">
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div>
                    <p>
                        <button class="load-more-btn">Load more...</button>
                    </p>
                </div>
            </div>
            
        </div>

        
        <div class="container">
            
            <h2>Trending</h2>
            <div class="items">
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div>
                    <p>
                        <button class="load-more-btn">Load more...</button>
                    </p>
                </div>
            </div>

        </div>
        
        <div class="container">

            <h2>Party Wear</h2>
            <div class="items">
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div class="item">
                    <p><img src="../static/img_product.jpg" alt="product"></p>
                    <p>Title</p>
                    <p>subtitle</p>
                    <p>description</p>
                    <p>price</p>
                    <p><button class="cart-btn"> Add to Cart</button></p>
                </div>
                <div>
                    <p>
                        <button class="load-more-btn">Load more...</button>
                    </p>
                </div>
            </div>

        </div>
        
    </main>
    
    <!-- ************************************FOOTER SECTION**************************** -->
    <footer id="footer">
        
        <div class="footer">
            <a href="#">ABOUT</a>
            <a href="#">About us</a>
            <a href="#">Contact us</a>
            <a href="#">Careers</a>
            <a href="#">Wholesale</a>
        </div>
        
        <div class="footer">
            <a href="#">HELP</a>
            <a href="#">Payments</a>
            <a href="#">Shipping</a>
            <a href="#">Cancellation and Returns</a>
            <a href="#">FAQ</a>
        </div>
        
        <div class="footer">
            <a href="#">POLICY</a>
            <a href="#">Return Policy</a>
            <a href="#">Terms of Use</a>
            <a href="#">Security</a>
            <a href="#">Privacy</a>
        </div>
        
        <div class="footer">
            <p>
                MAIL US:<br>
                TheShoppingCArt
                Pvt. Ltd.
            </p>
        </div>

    </footer>
    <footer>
        <div class="footer" id="footer-bottom">
            <p>
            <h2><em>Copyright</em> &copy; 2021 TheShoppingCArt.Com <em> All Rights&#174; Reserved</em> </h2>
        </p>
        </div>
    </footer>


    <script src="../static/script/main.js"></script>
</body>

</html>