{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/base.css">

    {% block css %}{% endblock %}
    
    
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>{% block title %}{% endblock %}</title>
     
</head>

<body>

    <!-- *************************NAVBAR SECTION*********************************** -->
    <header>
        <nav>
            <div class="nav-left">
                <ul class="nav-item-1">

                    <li><img id="logo" src="{% static 'logo.png' %}" alt="" class="logo"></li>
                    <li><a style="color:white;" href="{% url 'home' %}">TheShoppingCArt</a></li>
                    <li>
                        <form action="">
                            <input type="text" name="search-box"
                                placeholder="What dou you want ? Search here..." id="search">
                                <button id="search-btn" type="submit"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="nav-right">
                <ul class="nav-item-2">
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i><button class="login-btn"><a
                                href="{% url 'login' %}">Login</a></button>
                            </li>
                    <li>
                        <i class="fa fa-caret-down" aria-hidden="true"></i><button class="login-btn"><a
                            href="{% static 'cart.png' %}">More</a></button>
                    </li>
                    <li>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i><button class="login-btn"><a
                                href="{% url 'checkout' %}">Cart
                            </a><span>0</span></button>
                    </li>
                </ul>
            </div>           
        </nav>

        {% block nav %}
            <!-- Second Navigation -->
        {% endblock %}

    </header>

    <!-- ***********************MAIN SECTION**************************** -->
    <main>
        
                {% block main %}
                
                <!-- Write your HTML in main block of other templates -->
                
                {% endblock %}      

        
    </main>
    
    <!-- ************************************FOOTER SECTION**************************** -->
    <footer id="footer">
        
        <div class="footer">
            <a href="#">ABOUT</a>
            <a href="#">About us</a>
            <a href="#">Contact us</a>
            <a href="#">Careers</a>
            <a href="#">Wholesale</a>
        </div>
        
        <div class="footer">
            <a href="#">HELP</a>
            <a href="#">Payments</a>
            <a href="#">Shipping</a>
            <a href="#">Cancellation and Returns</a>
            <a href="#">FAQ</a>
        </div>
        
        <div class="footer">
            <a href="#">POLICY</a>
            <a href="#">Return Policy</a>
            <a href="#">Terms of Use</a>
            <a href="#">Security</a>
            <a href="#">Privacy</a>
        </div>
        
        <div class="footer">
            <p>
                MAIL US:<br>
                TheShoppingCArt
                Pvt. Ltd.
            </p>
        </div>

    </footer>
    <footer>
        <div class="footer" id="footer-bottom">
            <p>
            <h2><em>Copyright</em> &copy; 2021 TheShoppingCArt.Com <em> All Rights&#174; Reserved</em> </h2>
        </p>
        </div>
    </footer>


    <script src="../static/script/main.js"></script>

    {% block js %} <!-- Include your js file in this block -->  {% endblock%}

</body>

</html>
