{%extends 'base.html'%}

{% block css %} <link rel="stylesheet" href="css/index.css"> {% endblock %} <!-- Add your css link here  -->

{% block title %}TheShoppingCArt{% endblock %}  <!-- Add your title here -->


{% block nav %}

    <nav class="nav2">
        <ul>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">TV & Appliances</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Womens</a></li>
            <li><a href="#">Baby & Kids</a></li>
            <li><a href="#">Computers</a></li>
            <li><a href="#">Phones & Tablets</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">More</a></li>
        </ul>
    </nav>

{% endblock %}

{% block main %}

    <!-- ****************CAROUSEL********************* -->
    <div class="carousel">
    
        <div class="prev-btn">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
    
        <div class="slides-container">
    
            <div class="slide-image">
                <img src="../static/img_carousal_1.jpg" alt="">
            </div>
            <div class="slide-image">
                <img src="../static/img_carousal_1.jpg" alt="">
            </div>
            <div class="slide-image">
                <img src="../static/img_carousal_1.jpg" alt="">
            </div>
    
        </div>
    
        <div class="next-btn">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    
    <!-- ****************PRODUCTS**************** -->
    <div class="container">
    
        <h2>New Arrivals</h2>
        <div class="items">
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div>
                <p>
                    <button class="load-more-btn">Load more...</button>
                </p>
            </div>
        </div>
    
    </div>
    
    
    <div class="container">
    
        <h2>Trending</h2>
        <div class="items">
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div>
                <p>
                    <button class="load-more-btn">Load more...</button>
                </p>
            </div>
        </div>
    
    </div>
    
    <div class="container">
    
        <h2>Party Wear</h2>
        <div class="items">
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div class="item">
                <p><img src="../static/img_product.jpg" alt="product"></p>
                <p>Title</p>
                <p>subtitle</p>
                <p>description</p>
                <p>price</p>
                <p><button class="cart-btn"> Add to Cart</button></p>
            </div>
            <div>
                <p>
                    <button class="load-more-btn">Load more...</button>
                </p>
            </div>
        </div>
    
    </div>

{% endblock %}

{% block js %}
    <!-- Add your inline javascript here / Include your js file here  -->
{% endblock%}
